.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: beige;
   
    line-height: 1.6;
    
    
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #222;
      text-align: center;
      color: beige;
    }
  
    p {
      margin-bottom: 15px;
      text-align: center;
      text-indent: 2em;
      font-size: 17px;
      color: beige;
      
    }
  }
  