form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-top: 50px;
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  input[type="date"],
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: #97FEED;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }

  .form-button {
    padding: 10px 15px;
    background-color: #4CCD99;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #007F73;
    }

    &:active {
      background-color: #007F73;
    }
  }

  select {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  select:focus {
    transform: scale(1.02); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

  

}
